<div class="d-flex justify-content-center">
    <div style="width: 20rem;">
        <h2>Edit Product</h2>
        {{!-- {{#if Err}}
        <div class="alert alert-danger" role="alert">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-exclamation-octagon-fill" viewBox="0 0 16 16">
                <path
                    d="M11.46.146A.5.5 0 0 0 11.107 0H4.893a.5.5 0 0 0-.353.146L.146 4.54A.5.5 0 0 0 0 4.893v6.214a.5.5 0 0 0 .146.353l4.394 4.394a.5.5 0 0 0 .353.146h6.214a.5.5 0 0 0 .353-.146l4.394-4.394a.5.5 0 0 0 .146-.353V4.893a.5.5 0 0 0-.146-.353L11.46.146zM8 4c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
            </svg> {{Err}}
        </div>
        {{/if}}
        {{#if Succ}}
        <div class="alert alert-success" role="alert">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-check2-circle" viewBox="0 0 16 16">
                <path
                    d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z" />
                <path
                    d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z" />
            </svg>{{Succ}}
        </div>

        {{/if}}
        --}}
           
        <form action="/admin/updateproducts/{{producId._id}}" enctype="multipart/form-data" method="post" class="pt-5">
            <!-- categorie name input -->

            <div class="form-outline mb-4 ">
                <label class="form-label" for="form2Example1"> Name</label>
                <input type="name" name="name" id="form2Example1" value="{{producId.name}}" class="form-control"/>

            </div>
            <div class="form-outline mb-4 ">

                <div class="row">
                    <div class="col-md-12">
                        <h6 class="input-title mt-0">Category</h6>
                        <select class="select2 form-control mb-3 custom-select" name="category" style="width: 100%; height:36px;">
                            <option selected hidden value={{categry._id}}>{{categry.category}}</option>
                            <optgroup>
                                {{#each show}}
                                <option value="{{this._id}}">{{this.category}}</option>
                                {{/each}}
                            </optgroup> 
                        </select>
                    </div>

                </div>


            </div>
            <div class="form-outline mb-4 ">
                <label class="form-label" for="form2Example1">Discription</label>
                <input type="name" name="discription" id="form2Example1"value="{{producId.discription}}"  class="form-control" required />

            </div>
            <div class="form-outline mb-4 ">
                <label class="form-label" for="form2Example1">Price</label>
                <input type="number" name="price" id="form2Example1"value="{{producId.price}}"  class="form-control" required />

            </div>

            <!-- image input -->
            <div class="form-outline mb-4">
                <label class="form-label" for="form2Example2">Image</label>
               <img style="width:80px;height: 80px;" src="/imageUpload/{{producId.image.[0]}}" alt="">
               <img style="width:80px;height: 80px;" src="/imageUpload/{{producId.image.[1]}}" alt="" >
               <img style="width:80px;height: 80px;" src="/imageUpload/{{producId.image.[2]}}" alt="" >
                <input type="file" id="form2Example2" class="form-control" name="image"  multiple />
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">Update Product</button>


        </form>
          
    </div>
</div>
</div>

