<body class="fixed-left">


    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    <h4 class="mt-0 header-title" style="text-align:center ;">List Of Categories</h4>


                    <a href="/admin/add-category">
                        <div style="text-align: end; padding-bottom: 10px;"><button type="button"
                                class="btn btn-outline-success btn-round waves-effect waves-light">Add category</button>
                        </div>
                    </a>

                    <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap"
                        style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Category</th>
                                <th>Image</th>
                                <th>Action</th>

                            </tr>
                        </thead>


                        <tbody>
                            {{#each show}}
                            <tr>
                                <td>{{ @index}}</td>
                                <td>{{this.category}}</td>
                                <td><img style="width:70px;height: 70px;" src="/imageUpload/{{this.image}}" alt=""></td>

                                <td style="text-align:center ;">



                                    <a href="/admin/edit-category/{{this._id}}"><button type="button"
                                            class="btn btn-outline-primary"><i
                                                class="fa-solid fa-pen-to-square"></i>Edit</button></a>


                                    <a href="/admin/delete-category/{{this._id}}"><button type="button"
                                            class="btn btn-outline-danger"><i
                                                class="fa-solid fa-eraser"onclick="return confirm("Are You Sure you to delete{{this.category}} ></i>Delete</button></a>

                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>

                </div>
            </div>
        </div> <!-- end col -->
    </div> <!-- end row -->

    </div><!-- container -->

    </div> <!-- Page content Wrapper -->

    </div> <!-- content -->



    </div>
    <!-- End Right content here -->

    </div>
    <!-- END wrapper -->


</body>