<style>
    .custom-checkbox .custom-control-input:indeterminate~.custom-control-label::before {
        background-color: transparent;
        border: 2px solid #bcbcbc;
    }

    .shop-cart-widget .custom-control-label::after {
        left: -35px;
        top: 5px;
    }
</style>

<!-- preloader  -->
<div id="preloader">
    <div id="ctn-preloader" class="ctn-preloader">
        <div class="animation-preloader">
            <div class="spinner"></div>
        </div>
        <div class="loader">
            <div class="row">
                <div class="col-3 loader-section section-left">
                    <div class="bg"></div>
                </div>
                <div class="col-3 loader-section section-left">
                    <div class="bg"></div>
                </div>
                <div class="col-3 loader-section section-right">
                    <div class="bg"></div>
                </div>
                <div class="col-3 loader-section section-right">
                    <div class="bg"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- preloader end -->


<!-- Scroll-top -->
<button class="scroll-top scroll-to-target" data-target="html">
    <i class="fas fa-angle-up"></i>
</button>
<!-- Scroll-top-end-->




<!-- Scroll-top -->
<button class="scroll-top scroll-to-target" data-target="html">
    <i class="fas fa-angle-up"></i>
</button>
<!-- Scroll-top-end-->



<!-- main-area -->
<main>

    <!-- breadcrumb-area -->
    <section class="breadcrumb-area breadcrumb-bg" data-background="/img/bg/4639668.jpg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <h2>Checkout Page</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb-area-end -->


    <!-- checkout-area -->
    <section class="checkout-area pt-95 pb-95">
        <div class="container">
            <div class="row justify-content-center">

                <div class="col-lg-7">
                    <div class="checkout-wrap">
                        <div class="checkout-top">
                            <h5 class="title">Billing details</h5>
                            <a href="/cart" class="back"><i class="fas fa-angle-left"></i> -- Back to Cart</a>
                        </div>


                        <form class="checkout-form-m pl-0" style="width: 100%;">
                            <input type="text" name="user" value="{{userAddress.[0].user}}" hidden>
                            {{#each userAddress}}
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h2 class="mb-0">
                                        <button class="btn-sec btn-link btn-block text-left collapsed" type="button"
                                            data-toggle="collapse" data-target="#collapseTwo{{this._id}}"
                                            aria-expanded="false" aria-controls="collapseTwo">
                                            <input class="form-check-input  chkAll me-2 addresscheck" name="address"
                                                type="radio" value="{{this._id}}" id="chkAccordion1All" required>
                                            {{this.firstName}},{{this.phone}}
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseTwo{{this._id}}" class="collapse" aria-labelledby="headingTwo"
                                    data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-4"> {{this.firstName}}{{this.lastName}}</div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">{{this.streetAddress}}</div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">{{this.city}}</div>
                                            <div class="col-sm-4">{{this.state}}</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">{{this.phone}}</div>
                                            <div class="col-sm-4">{{this.email}}</div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            {{/each}}
                        </form>
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h2 class="mb-0">
                                        <button class="btn-sec btn-link btn-block text-left" type="button"
                                            data-toggle="collapse" data-target="#collapseOneaa" aria-expanded="true"
                                            aria-controls="collapseOne">
                                            Add New address
                                        </button>
                                    </h2>
                                </div>

                                <div id="collapseOneaa" class="collapse " aria-labelledby="headingOne"
                                    data-parent="#accordionExample">
                                    <div class="card-body">
                                        <form class="checkout-form" id="checkout-address-form" style="width: 100%;">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-grp">
                                                        <label for="fName">FIRST NAME <span>*</span></label>
                                                        <input type="text" id="fName" name="firstName" required>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-grp">
                                                        <label for="lName">Last NAME <span>*</span></label>
                                                        <input type="text" id="lName" name="lastName" required>
                                                    </div>
                                                </div>


                                                <div class="col-12">
                                                    <div class="form-grp">
                                                        <label for="address">STREET ADDRESS <span>*</span></label>
                                                        <input type="text" id="address" name="street-address" required>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-grp">
                                                        <label>TOWN / CITY <span>*</span></label>
                                                        <input type="text" name="city" required>

                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-grp">
                                                        <label>STATE <span>*</span></label>
                                                        <input type="text" class="custom-select" name="state" required>

                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-grp">
                                                        <label for="zip">postal ZIP <span>*</span></label>
                                                        <input type="text" id="zip" name="zip" required>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-grp">
                                                        <label for="phone">Your PHONE <span>*</span></label>
                                                        <input type="number" id="phone" name="phone" required>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-grp">
                                                        <label for="email">EMAIL ADDRESS <span>*</span></label>
                                                        <input type="email" id="email" name="email">

                                                        <input type="text" name="user" value="{{userName._id}}" hidden>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <button type="submit" class="btn-sec btn-secondary"
                                                        onclick="saveAddress()">Save</button>
                                                </div>

                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-8">
                    <aside class="checkout-sidebar">
                        <h6 class="title">Cart Totals</h6>

                        <div class="shop-cart-widget">
                            {{!-- <div class="col-md-4">
                                <div class="shop-cart-bottom mt-20">


                                </div>
                            </div> --}}
                            <div class="cart-coupon mb-4">
                                <form class="checkout-form-m p-0 w-100" id="checkout-form">
                                    <div class="row">
                                        <div class="col-8">
                                            <input type="text" name="couponcode" placeholder="Enter Coupon Code..."
                                                id="couponcode" class="m-0 bg-transparent">
                                            <span id="Error-coupon" class="text-danger font-weight-bolder"></span>
                                        </div>
                                        <div class="col-4 pr-0">
                                            <button class="btn" style="display:flex ;" onclick="coupon()"
                                                id="applyCoupon">Apply
                                                Coupon</button>
                                            <button onclick="RemoveCoupon(event)" id="removeCoupon" class="buttn mt-3"
                                                hidden="true">Remove Coupon</button>
                                        </div>


                                    </div>
                                </form>
                            </div>
                            <form action="" class="checkout-form-m p-0" id="checkout-form" style="width: 100%;">
                                {{#if (eq wallet.wallet 0 )}}
                                <p>no wallet amount</p>
                                {{else}}
                                <h5>USE WALLET</h5>
                                <div class="">
                                    <input type="radio" id="wallet1" value="1" name="useWallet" onclick="usewallet()">
                                    <label for="wallet1" style="width: 40%;">Use</label> <span>Balance: ₹<span
                                            id="walletBalance"> {{wallet.wallet}}</span> </span>
                                </div>
                                <div class="mb-3">
                                    <input type="radio" id="wallet0" value="0" name="useWallet" checked
                                        onclick="removeWallet()">
                                    <label for="wallet0">Use Later</label>
                                </div>
                                {{/if}}
                                <ul>
                                    <li class="sub-total"><span>SUBTOTAL</span> ₹ {{total}}</li>
                                    {{!-- <li>
                                        <span>Discount Detail</span>
                                        <div class="shop-check-wrap">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                <label class="custom-control-label" for="customCheck1">FLAT RATE:
                                                    $15</label>
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck2">
                                                <label class="custom-control-label" for="customCheck2">FREE
                                                    SHIPPING</label>
                                            </div>
                                            <a href="#" class="calculate">Calculate shipping</a>
                                        </div>
                                    </li> --}}

                                    <li class="sub-total">DISCOUNT RATE :<span id="discountRate">0</span> </li>
                                    <li class="sub-total">DISCOUNTED AMOUNT :<span id="discountedAmount">0</span></li>

                                    <li class="cart-total-amount"><span>TOTAL</span>₹<span class="amount"
                                            id="finalPrice">{{total}}</span></li>

                                </ul>
                                {{!-- <div class="form-check">
                                    <input class="form-check-input" style="width: 20px;height: 20px;" type="checkbox"
                                        value="" id="flexCheckChecked" />
                                    <label class="form-check-label" for="flexCheckChecked">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <span class="pl-3  text-dark font-italic font-weight-bold">USE YOUR
                                                    WALLET</span>
                                            </div>
                                            <div class="col-md-12 ">
                                                <span class="pl-3 text-dark font-italic font-weight-bold">₹
                                                    {{wallet.wallet}}</span>

                                            </div>
                                        </div>
                                    </label>

                                </div> --}}

                                <div class="payment-method-info bg-transparent  border-0">
                                    <div class="paypal-method-flex p-0  border-0">

                                        {{!-- <input type="radio" id="payment" value="cod" name="payment">
                                        <label for="payment">cod</label>
                                    </div>
                                    <div class="paypal-method-flex">
                                        <input type="radio" id="payment" value="online" name="payment">
                                        <label for="payment">online</label>
                                    </div> --}}

                                    <div class="custom-control custom-checkbox " id="cod">
                                        <input type="radio" class="custom-control-input" id="customCheck5" value="COD"
                                            name="payment-method" checked>
                                        <label class="custom-control-label" for="customCheck5" checked>Cash on
                                            delivery</label>

                                    </div>

                                    <div class="custom-control custom-checkbox " id="wallet">
                                        <input type="radio" class="custom-control-input" id="customCheck50"
                                            value="Wallet" name="payment-method" checked>
                                        <label class="custom-control-label" for="customCheck5">WALLET</label>

                                    </div>
                                </div>

                                <div class="paypal-method-flex p-0 border-0" id="online">
                                    <div class="custom-control custom-checkbox">
                                        <input type="radio" class="custom-control-input" id="customCheck60"
                                            value="Razorpay" name="payment-method" checked>
                                        <label class="custom-control-label" for="customCheck6">Razor Pay</label>

                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input type="radio" class="custom-control-input" id="customCheck7"
                                            value="Paypal" name="payment-method">
                                        <label class="custom-control-label" for="customCheck7">Pay Pal</label>

                                    </div>
                                    <div class="paypal-logo"><img src="/img/images/card.png" alt=""></div>
                                </div>


                                <div class="payment-terms  border-0">
                                    <p>Most of users prefer online payment to follow safety prequations on covid
                                        panademic</p>

                                </div>
                                <button type="submit" onclick="placeOrder(event)" class="btn btn-dark mt-2">Place
                                    Order
                                </button>
                            </form>
                        </div>

                    </aside>
                </div>
            </div>

        </div>

    </section>
    <!-- checkout-area-end -->

</main>
<!-- main-area-end -->
<script>
    /* ------------------------------- USE WALLET ------------------------------- */

    function usewallet() {
        console.log('hellooo')
        let amount = document.getElementById('finalPrice').innerHTML
        console.log(amount, 'uuuuuuuu');
        $.ajax({
            url: '/usewallet',
            data: { amount },
            method: 'post',
            success: (response) => {

                if (response.status) {
                    document.getElementById('finalPrice').innerHTML = response.amount
                    document.getElementById('walletBalance').innerHTML = response.wallet
                    document.getElementById('cod').hidden = true
                    document.getElementById('wallet').hidden = true
                    if (response.amount == 0) {
                        document.getElementById('online').hidden = true
                        document.getElementById('wallet').hidden = false
                        document.getElementById('customCheck50').checked = true


                    }
                }
            }
        })
    }


    /* ------------------------------ REMOVE WALLET ----------------------------- */

    function removeWallet() {
        console.log('jjjjjjjjjjjjj12');
        let wallet = document.getElementById('walletBalance').innerHTML
        let amount = document.getElementById('finalPrice').innerHTML
        console.log(wallet, 'wassss');
        $.ajax({
            url: '/removewallet',
            data: { wallet, amount },
            method: 'post',
            success: (response) => {

                document.getElementById('finalPrice').innerHTML = response.total
                document.getElementById('walletBalance').innerHTML = response.wallet
                document.getElementById('cod').hidden = false
                document.getElementById('online').hidden = false
                document.getElementById('wallet').hidden = true
                document.getElementById('customCheck50').checked = false
                document.getElementById('customCheck60').checked = true
            }

        })
    }
</script>