{{!-- pre loader --}}
<div id="preloader">
    <div id="ctn-preloader" class="ctn-preloader">
        <div class="animation-preloader">
            <div class="spinner"></div>
        </div>
        <div class="loader">
            <div class="row">
                <div class="col-3 loader-section section-left">
                    <div class="bg"></div>
                </div>
                <div class="col-3 loader-section section-left">
                    <div class="bg"></div>
                </div>
                <div class="col-3 loader-section section-right">
                    <div class="bg"></div>
                </div>
                <div class="col-3 loader-section section-right">
                    <div class="bg"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{{!-- preloader End --}}

<!-- Scroll-top -->
<button class="scroll-top scroll-to-target" data-target="html">
    <i class="fas fa-angle-up"></i>
</button>
<!-- Scroll-top-end-->


<!-- main-area -->
<main>

    <!-- breadcrumb-area -->
    <div class="breadcrumb-area breadcrumb-style-two" data-background="/img/bg/s_breadcrumb_bg01.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 d-none d-lg-block">
                    <div class="previous-product">
                        <a href="shop-details.html"><i class="fas fa-angle-left"></i> previous product</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="breadcrumb-content">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>

                            </ol>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-3 d-none d-lg-block">
                    <div class="next-product">
                        <a href="shop-details.html">Next product <i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb-area-end -->

    <!-- shop-details-area -->
    <section class="shop-details-area pt-80 ">
        <div class="container">
            <div class="row">
                {{!-- {{#each detailedview}} --}}
                <div class="col-lg-7">
                    <div class="shop-details-flex-wrap">
                        <div class="shop-details-nav-wrap">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link active" id="item-one-tab" data-toggle="tab" href="#item-one"
                                        role="tab" aria-controls="item-one" aria-selected="true"><img
                                            src="/imageUpload/{{detailedview.image.[0]}}" alt=""></a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="item-two-tab" data-toggle="tab" href="#item-two" role="tab"
                                        aria-controls="item-two" aria-selected="false"><img
                                            src="/imageUpload/{{detailedview.image.[1]}}" alt=""></a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="item-three-tab" data-toggle="tab" href="#item-three"
                                        role="tab" aria-controls="item-three" aria-selected="false"><img
                                            src="/imageUpload/{{detailedview.image.[2]}}" alt=""></a>
                                </li>
                            </ul>
                        </div>
                        <div class="shop-details-img-wrap">
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="item-one" role="tabpanel"
                                    aria-labelledby="item-one-tab">
                                    <div class="shop-details-img" id="image_zoom_container">
                                        <img src="/imageUpload/{{detailedview.image.[0]}}" alt="">
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="item-two" role="tabpanel" aria-labelledby="item-two-tab">
                                    <div class="shop-details-img" id="image_zoom2_container">
                                        <img src="/imageUpload/{{detailedview.image.[1]}}" alt="">
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="item-three" role="tabpanel"
                                    aria-labelledby="item-three-tab">
                                    <div class="shop-details-img" id="image_zoom3_container">
                                        <img src="/imageUpload/{{detailedview.image.[2]}}" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-5">
                    <div class="shop-details-content">
                        <a href="#" class="product-cat">{{detailedview.category.category}}</a>
                        <h3 class="title">{{detailedview.name}}</h3>
                        <div class="rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>

                        <div class="price">Price : ₹ {{detailedview.price}}</div>

                        <div class="perched-info">
                            {{!-- <a href="/add-to-cart/{{detailedview._id}}" class="btn">add to cart</a> --}}

                            <button onclick="addToCart('{{detailedview._id}}')" class="btn">Add to cart</button>

                            <div class="wishlist-compare">
                                <ul>
                                    <li><a href="#"><i class="far fa-heart"></i> Add to Wishlist</a></li>
                                    
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-12">
                    <div class="product-desc-wrap">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" id="description-tab" data-toggle="tab" href="#description"
                                    role="tab" aria-controls="description" aria-selected="true">Description Guide</a>
                            </li>

                        </ul>
                        <div class="tab-content ">
                            <div class="tab-pane fade show active" id="description" role="tabpanel"
                                aria-labelledby="description-tab">
                                <div class="product-desc-title mb-30 ">
                                    <h4 class="title">Product Discription :</h4>
                                </div>
                                <p class="">{{detailedview.discription}}</p>



                                <p>The purpose of lorem ipsum is to create a natural looking block of text (sentence,
                                    paragraph, page, etc.) that doesn't
                                    distract from the layout. A practice not without controversy, laying out pages with
                                    meaningless filler text can be very
                                    useful when the focus is meant to be on design, not content.</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="related-product-wrap">
                <div class="row">
                    <div class="col-12">
                        {{!-- <div class="related-product-title">
                            <h4 class="title">You May Also Like...</h4>
                        </div> --}}
                    </div>
                </div>
                {{!-- <div class="row related-product-active">
                    <div class="col-xl-3">
                        <div class="new-arrival-item text-center">
                            <div class="thumb mb-25">
                                <a href="shop-details.html"><img src="/img/product/n_arrival_product01.jpg" alt=""></a>
                                <div class="product-overlay-action">
                                    <ul>
                                        <li><a href="cart.html"><i class="far fa-heart"></i></a></li>
                                        <li><a href="shop-details.html"><i class="far fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="content">
                                <h5><a href="shop-details.html">Bomber in Cotton</a></h5>
                                <span class="price">$37.00</span>
                            </div>
                        </div>
                    </div>

                </div> --}}
            </div>
        </div>
    </section>
    <!-- shop-details-area-end -->
</main>