

            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body p-5">
                        <div class="row">
                            <p class="welcome-p" id="greetings"></p> <span class="welcome-name mb-4">!
                                {{userName.name}}</span>

                        </div>
                        <h3 class="pb-3 ">Details</h3>

                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0 p-2">Full Name</h6>
                            </div>
                            <div class="col-sm-9 text-secondary p-2">
                                {{userName.name}}
                            </div>
                            <div class="col-sm-3">
                                <h6 class="mb-0 p-2">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary p-2">
                                {{userName.email}}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0 p-2">Phone</h6>
                            </div>
                            <div class="col-sm-9 text-secondary p-2">
                                {{userName.phone}} </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0 p-2">Address</h6>
                            </div>
                            <div class="col-sm-9 text-secondary p-2">
                                <p>{{userDetail.address.streetAddress}}</p>
                                <p> {{userDetail.address.city}}</p>
                                <p> {{userDetail.address.state}}</p>
                                <p> {{userDetail.address.zip}}</p>
                            </div>



                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-12">
                                <a class="btn btn-info" href="/user_logout">Logout</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>

<script>
    var myDate = new Date();
    var hrs = myDate.getHours();

    var greet;

    if (hrs < 12)
        greet = 'Good Morning';
    else if (hrs >= 12 && hrs <= 17)
        greet = 'Good Afternoon';
    else if (hrs >= 17 && hrs <= 24)
        greet = 'Good Evening';

    document.getElementById('greetings').innerHTML = '<b>' + greet + '</b>';
</script>